<p>
  Title: {{game.title}}
</p>
<p>
  Game: {{game.id}}
</p>
<p>
  Participants Count:  {{game.participants_count}}
</p>
<p>
  Entries Count: {{game.entries_count}}
</p>
<p>
  created at {{moment-from-now game.created}}
</p>
<p>
  Last Updated {{moment-from-now game.last_updated}}
</p>
